<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Getting started with the Rainbow Graph for developers</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <script>
            function submitform(){
                console.log("Sending Json");
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                       resp = JSON.parse(xhr.responseText);
                       document.getElementById('response').innerHTML = resp.summary
                    }
                }

                len = document.getElementById("length").value;

                xhr.open(input_form.method, "http://peerlogic.csc.ncsu.edu/sum/v1.0/summary/" + len, true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                xhr.send(document.getElementById("json_config").value);
            }

            function copyToClipboard(elem) {
                  // create hidden text element, if it doesn't already exist
                var targetId = "_hiddenCopyText_";
                var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
                var origSelectionStart, origSelectionEnd;
                if (isInput) {
                    // can just use the original source element for the selection and copy
                    target = elem;
                    origSelectionStart = elem.selectionStart;
                    origSelectionEnd = elem.selectionEnd;
                } else {
                    // must use a temporary form element for the selection and copy
                    target = document.getElementById(targetId);
                    if (!target) {
                        var target = document.createElement("textarea");
                        target.style.position = "absolute";
                        target.style.left = "-9999px";
                        target.style.top = "0";
                        target.id = targetId;
                        document.body.appendChild(target);
                    }
                    target.textContent = elem.textContent;
                }
                // select the content
                var currentFocus = document.activeElement;
                target.focus();
                target.setSelectionRange(0, target.value.length);

                // copy the selection
                var succeed;
                try {
                      succeed = document.execCommand("copy");
                } catch(e) {
                    succeed = false;
                }
                // restore original focus
                if (currentFocus && typeof currentFocus.focus === "function") {
                    currentFocus.focus();
                }

                if (isInput) {
                    // restore prior selection
                    elem.setSelectionRange(origSelectionStart, origSelectionEnd);
                } else {
                    // clear temporary content
                    target.textContent = "";
                }
                return succeed;
            }

        </script>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <form class="form-container" method="POST" name="input_form">
            <div class="form-title"><h2>Automatic summarization</h2></div>
            <div class="form-title">This page is intended for instructor, <a href="developer">klick here if you are a developer</a></div>

            <div class="form-title">Enter a JSON Configuration that contains comments to summarize</div>
            <div class="form-title">(See <a target="_blank" href="https://www.peerlogic.org/summarization-service/">this documentation</a> to learn how the configuration file should look like, or check the example below)</div>
            <br/>
            <div class="fb-like" data-href="https://www.facebook.com/nsfpeerlogic" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
            <br/>
            <p>
                &nbsp;How long the summary should be (2-10 sentences)?&nbsp;
                <input type="range"  min="2" max="10" value="5" step="1" id="length"/>
            </p>

            <p><textarea rows="50" cols="160"  name="json config" id="json_config" class="form-field"></textarea></p>
            <p><button type="button"  class="submit-button" onclick="submitform()">Go get the summary!</button></p>
            <p><div id="response"></div></p>
        </form>
                <div class="form-container">
            <div class="form-title"><h2>You can use the example of reviews below to try the atomatic summarization</h2></div>
             &nbsp;
            <pre id="json_example">
            {
                "sentences": [
                    "No specific procedures were described, and no measurement of the mass of reagent is listed. This reads more like a general description of how to perform the experiment. It does not include any calculations to prove that a 2.00*^-4 M solution with an inherent error of 1% can be produced.",
                    "The procedure does not outline a beginning value for NaCl. While it does pay attention to steps in the dilution procedures, it fails to account for error in the equipment.",
                    "First, the person used a dye to mix his or her solution, so it didn't even use the correct solute. However, this person has the right idea of diluting the solutions 3 times to achieve an inherent error of less than 1%."
                ]
            }
            </pre>
            <p>
                <button type="button" class="submit-button" onclick="copyToClipboard(document.getElementById('json_example'))">Copy Example</button>
                &nbsp;
                <button type="button" class="submit-button" onclick="window.scrollTo(0, 0);">Go up</button>
            </p>
        </div>
        &nbsp;
        <div class="footer">
            © PeerLogic. All rights reserved.
            <br/>
            For support or new feature request, please contact:
            Dr. Ferry Pramudianto | Senior Research Engineer | 919 513-0816 | fferry (at) ncsu.edu
            Computer Science Department | North Carolina State University
        </div>
    </body>
</html>
